<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3f55861-b2e4-4420-8b5d-a9a759c6bf26" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-04-30T15:06:40</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="52824d1a-02c6-4a7e-a4e8-a9424f388608">home</Template>
  </Info>
  <Properties />
</Content>