<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Default NuGet source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <!-- Umbraco prereleases source -->
    <add key="UmbracoPrereleases" value="https://www.myget.org/F/umbracoprereleases/api/v3/index.json" />
  </packageSources>
</configuration>
